body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#gridContainer {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid red;
    background-color: beige;
    height: 100vh;
    width: 100%;
}

#gridContainer > div {
    flex: 1 1 auto;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    color: white;
    background-color: green;
    min-width: 0;
    width: calc(100% / 16);
    height: calc(100% / 16);
}
