body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/premium-photo/abstract-background-blur-gradient-design-graphic-art-wallpaper-website-background_963338-841.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#gridContainer {
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    border: 1px solid red;
    justify-self: center;
    align-self: end;
    height: 500px;
    width: 500px;
}

#gridContainer > .item {
    flex: 1 1 auto;
    text-align: center;
    box-sizing: border-box;
    border: 0.5px solid #000000;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    min-width: 0;
}

#btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;

}

#btn > button{
    width: 120px;
    height: calc(100px / 3);
    font-weight: bold;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border: 3px solid #000000;
}

#btn > button:hover {
    width: 150px;
    height: calc(120px / 3);
}

.newBtn {
    background-color: #29b835;
    margin-right: 20px;
}

.resetBtn {
    background-color: #cb2424;
}



